
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

div .clear {
	clear:both;
}


.navbar {
	padding:10px 0 15px 5px;
	border-radius:none;
}

.navbar a {
	font-size:1.4em;
	font-weight:900;
}

.navbar-brand {
	padding:10px 0 15px 5px;
	
}

#row1>.container>div {
		padding:0 20px;
}

#row1 h1 {
	text-shadow:2px 2px 0px rgba(150, 150, 150, 0.65);
	font-size:60px;
	font-weight:900;
	text-transform: uppercase;
	color: #fff;
}

#row1 h2 {
	color: #fff;
}

footer {
	background: #333;
	color: #eee;
	font-size: 15px;
	padding: 20px;
}

ul.unstyled {
	list-style:none;
	padding:0;
	
}

footer a {color:#aaa;}

footer a:hover {
	text-decoration:none;
}


#copyright {
	text-align:center;
	padding
}

#footer-ul-content {
	border-bottom: 1px solid #575757;
	margin: 0 0 10px 0;
	padding:5px;
}


#row1 {
	background:	#1dbb90;
	text-align:left;
	padding: 75px 0 75px 0;
}

#title {
	background:	#1dbb90;
	text-align:left;
	padding: 25px 0 25px 0;
}

#title>.container>div {
		padding:0 20px;
}

#title h1 {
	text-shadow:2px 2px 0px rgba(150, 150, 150, 0.65);
	font-size:60px;
	font-weight:900;
	text-transform: uppercase;
	color: #fff;
}


#row2 {
	background:#FFF;
}


#features {
	text-align:center;
	padding: 20px 80px;
}

#features h3 {
	font-size:24px;
}

.panel {
	margin-top:30px;
}


#row3 {
	text-align:center;
	padding: 20px 80px;
}

#row-last {
	background:	#1dbb90;
	
	color:#fff;
	
}

#row-last h2 {
	text-align:center;
	padding:15px 0 20px 0;
}

#row-last p {
	font-style:italic;
	padding:10px 20px;
	font-size:1.2em;
}

#row-last .col-sm-6 {
	padding:10px;
	
}

#row-last .col-sm-6 h5{
	text-align:right;
	margin-right:20px;
}

#row-last .col-sm-6 img {
	align: right;
}


.user-logo {
	padding:10px 30px;
	
}

.tabbable {
	margin: 50px 0 70px 0;
	
}

#myModal {
	margin-top:60px;
}

#btn-get-started {
	width:60%;
	margin:30px auto;
	font-size:1.5em;
	font-weight:900;
}


.btn-custom-darken.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-darken {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #a62fb6;
  /* -- 
  background-image: -moz-linear-gradient(top, #b533c6, #90299d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b533c6), to(#90299d));
  background-image: -webkit-linear-gradient(top, #b533c6, #90299d);
  background-image: -o-linear-gradient(top, #b533c6, #90299d);
  background-image: linear-gradient(to bottom, #b533c6, #90299d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb533c6', endColorstr='#ff90299d', GradientType=0);
  */
  border-color: #90299d #90299d #581961;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #90299d;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-darken:hover, 
.btn-custom-darken:focus,
.btn-custom-darken:active,
.btn-custom-darken.active,
.btn-custom-darken.disabled,
.btn-custom-darken[disabled] {
  color: #ffffff;
  background-color: #90299d;
  *background-color: #7d2389;
}
.btn-custom-darken:active,
.btn-custom-darken.active {
  background-color: #6b1e75 ;
}

div#hero {
	margin-bottom: 10px;
	margin-top: 40px;
}

div#hero h1 {
	padding-left: 15%;
	padding-right: 15%;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
}

div#hero h2 {
	padding-left: 15%;
	padding-right: 15%;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
}

div#hero p {
	margin: 15px 0;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
}



/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	margin-top:0px;
	background:#fff;
	height:100%;
}

.carousel-caption {
	font-size:24px;
}

.carousel-indicators {
	bottom:-50px;
	
}

.carousel-indicators li {
	background-colour: #999;
}


.carousel-indicators .active {
	background-colour: #444;
}

.carousel-inner {
	margin-bottom:0px;
}

.carousel-caption h4 {
	font-size:32px;
}


#myCarousel .item {
	height:100%px;
	width:100%;
	margin: 20px auto 0px;
}

.carousel-control.right {
	background-image:none;
}

.carousel-control.left {
	background-image:none;
	
}

.carousel-control .icon-prev {
	font-size:80px;	
}

.carousel-control .icon-next {
	font-size:80px;	
}
#slide1 {
	background: transparent;
	
}

#slide2 {
	background: transparent;
	
}

#slide3 {
	background: transparent;
	
	
}

.table {
	margin-bottom: 0px;
}


/* PRICING STYLES
 */


.panel
{
    text-align: center;
}

.panel-info>.panel-heading {
	color:#fff;
	background-color: #1dbb90;
	border-color; #1dbb90;
}

.panel-info>.panel-heading h3 {
	font-size:24px;
}

.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

ul.centered-pills {
 display: inline-block; 
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
    font-size: 1.2em;
}


	

#tab1 {
	padding-top: 20px;
	padding-left: 25%;
	padding-right: 25%;
	font-size: 1.5em;
	text-align: center;
}




/* FAQ ACCORDIAN STYLES 
 
 * 
 * 
 * 
 * */


.faq-cat-content {
    margin-top: 25px;
}

.faq-cat-tabs li a {
    padding: 15px 10px 15px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
}

#faq {
	padding: 10px;
	text-align: left;
}




/* CSS-only ribbon styles
 * 
 * 
 *     */


.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: 20px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}




